@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(bg.jpg) no-repeat;
  background-size: auto;
}
.login-box{
  width: 350px;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
}
.login-box h1{
    color:gold;
  float: left;
  font-size: 40px;
  border-bottom: 6px solid #c90ec6;
  margin-bottom: 20px;
  padding: 13px 0;
}
.login-box h4{
    color:white;
  float: left;
  font-size: 15px;
  border-bottom: 4px solid #c90ec6;
  margin-bottom: 10px;
  padding: 10px 0;
}
.textbox{
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #c90ec6;
}
.textbox i{
  width: 26px;
  float: left;
  text-align: center;
}
.textbox input{
  border: none;
  outline: none;
  background: none;
  color: white;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
}
.btn{
  float: left;
  width: 50%;
  background: none;
  border: 2px solid #c90ec6;
  color: white;
    font-size: 18px;
    padding: 5% ;
    }
.btn:hover{
background-color:#c90ec6;
 border:2px solid white;
 color:white;
}
.drpdwn{
   width: 50%;
   background-color: white;
   color: black;
   float: left;
}
.textbox:hover input{ 
font-weight:bold;
color:white;
 }     @keyframes btn{
         
             10%{color:white;}
           25%{color:red;}
           50%{color:darkred;}
           100%{color:black;}
       }
       result-table table{
  color: white;
  position:center ;
  top:50%;
  left:50%;
       }
       result-table{
        position:relative;
        background-color: yellow;
            top:300px; 
            left: 200px;
            color:black;
        }